{% macro render_item(key, value) %}

<li><i class="bi bi-chevron-right"></i> <strong>{{ key }}:</strong> <span>{{ value }}</span></li>

{% endmacro %}

{% macro render(info) %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About</h2>
      <p>{{ info['introduction'] }}</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="../static/img/profile-img.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>{{ info['profession'] }}</h3>
        <p class="fst-italic">
          {{ info['first_description'] }}
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              {{ render_item('Birthday', info['birthday']) }}
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Website:</strong> 
                                                    <a href = "{{info['website']}}">{{info['website']}}</a>
              </li>
              {{ render_item('Phone', info['phone_number']) }}
              {{ render_item('City', info['city']) }}
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              {{ render_item('Age', info['age']) }}
              {{ render_item('Degree', info['degree']) }}
              {{ render_item('Email', info['email']) }}
              {{ render_item('Freelance', info['freelance']) }}
            </ul>
          </div>
        </div>
        <p>
          {{ info['second_description'] }}
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

{% endmacro %}