{% macro render(form) %}

<form action="/" method="POST" role="form" class = "info">
    {{ form.csrf_token() }}
    <div class="row">
        <div class="form-group col-md-6">
            <label for="name">Your Name</label>
            {{ form.name() }}
        </div>
        <div class="form-group col-md-6">
            <label for="name">Your Email</label>
            {{ form.email() }}
        </div>
    </div>
    <div class="form-group mt-3">
        <label for="name">Subject</label>
        {{ form.subject() }}
    </div>
    <div class="form-group mt-3">
        <label for="name">Message</label>
        {{ form.message() }}
    </div>
    <div class = "form-group text-center">
    {{ form.submit() }}
    </div>
</form>

{% endmacro %}