{% macro render(info) %}

<div class="info">
    <div class="address">
        <i class="bi bi-geo-alt"></i>
        <h4>Location:</h4>
        <p>{{ info['location'] }}</p>
    </div>

    <div class="email">
        <i class="bi bi-envelope"></i>
        <h4>Email:</h4>
        <p>{{ info['email'] }}</p>
    </div>

    <div class="phone">
        <i class="bi bi-phone"></i>
        <h4>Call:</h4>
        <p>{{ info['phone_number'] }}</p>
    </div>

    <iframe src="{{ info['google_maps_shareable_link'] }}" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
</div>

{% endmacro %}