{% import 'contact_info.html' as contact_info %}
{% import 'contact_form.html' as contact_form %}

{% macro render(info) %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      <p>{{ info['introduction'] }}</p>
    </div>

    <div class="row" data-aos="fade-in">

      <div class="col-lg d-flex align-items-stretch">
        {{ contact_info.render(info["info"]) }}
      </div>
    </div>
  </div>
</section><!-- End Contact Section -->

{% endmacro %}