{% extends 'base.html' %}

{% block title %}Lucas Vitali Portfolio{% endblock %}

{% block content %}

<div class = "container">
    <div class = "row justify-content-end">
        <div class = "col-3">
            <button class = "btn btn-primary mt-3">Back to Portfolio</button>
        </div>
    </div>
    <div class = "row justify-content-center">
        <div class = "col-4">
            <lottie-player src="../static/email_sent_animation.json" background="transparent"  speed="1"  style="width: 20vw;" autoplay></lottie-player>
        </div>
    </div>
</div>

{% endblock %}