{% macro render_item(info) %}

<div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
  <div class="count-box">
    <i class="{{ 'bi' + ' ' + info['icon'] }}"></i>
    <span data-purecounter-start="0" data-purecounter-end="{{ info['number'] }}" data-purecounter-duration="1" class="purecounter"></span>
    <p><strong>{{info['fact_name']}}</strong> {{info['clarification']}}</p>
  </div>
</div>

{% endmacro %}

{% macro render(info) %}

<!-- ======= Facts Section ======= -->
<section id="facts" class="facts">
  <div class="container">

    <div class="section-title">
      <h2>Facts</h2>
      <p>{{ info['introduction'] }}</p>
    </div>

    <div class="row no-gutters">

      {% for item in info['items'] %}
        {{ render_item(item) }}
      {% endfor %}

    </div>

  </div>
</section><!-- End Facts Section -->

{% endmacro %}