{% import 'about.html' as about %}
{% import 'facts.html' as facts %}
{% import 'skills.html' as skills %}

<main id="main">

    {{ about.render(
       {
        'introduction': 'Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.',
        'profession':'UI/UX Designer & Web Developer.',
        'first_description':'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
        'second_description':'Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
        Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.',
        'birthday':'1 May 1995',
        'website': 'www.example.com',
        'phone_number': '+123 456 7890',
        'city': 'New York, USA',
        'age': '30',
        'degree': 'Master',
        'email': 'email@example.com',
        'freelance': 'Available'
       }) 
    }}
  
    {{ facts.render(
       {
        'introduction':'Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.',
        'items': 
            [
               {
                  'icon':'bi-emoji-smile',
                  'fact_name':'Happy Clients',
                  'clarification':'consequuntur quae',
                  'number':'232'
               },
               {
                  'icon':'bi-journal-richtext',
                  'fact_name':'Projects',
                  'clarification':'adipisci atque cum quia aut',
                  'number':'521'
               },
               {
                  'icon':'bi-headset',
                  'fact_name':'Hours Of Support',
                  'clarification':'aut commodi quaerat',
                  'number':'1453'
               },
               {
                  'icon':'bi-people',
                  'fact_name':'Hard Workers',
                  'clarification':'rerum asperiores dolor',
                  'number':'32'
               }
            ]
       }) 
    }}
  
    {{ skills.render(
      {
         'introduction':'Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.',
         'items_column_left':
            [
               {'name':'HTML', 'value':'100'},
               {'name':'CSS', 'value':'90'},
               {'name':'JavaScript', 'value':'75'}
            ],
         'items_column_right':
            [
               {'name':'PHP', 'value':'80'},
               {'name':'WordPress/CMS', 'value':'90'},
               {'name':'Photoshop', 'value':'55'}
            ]
      })
    }}
  
    {% include 'resume.html' %}
  
    {% include 'portfolio.html' %}
  
    {% include 'services.html' %}
  
    {% include 'testimonials.html' %}
  
    {% include 'contact.html' %}
  
  </main><!-- End #main -->