{% import 'about.html' as about %}
{% import 'facts.html' as facts %}
{% import 'skills.html' as skills %}
{% import 'resume.html' as resume %}
{% import 'portfolio.html' as portfolio %}
{% import 'services.html' as services %}
{% import 'testimonials.html' as testimonials %}
{% import 'contact.html' as contact %}

{% macro render(info) %}

<main id="main">

   {{ about.render(info['about']) }}

   {{ facts.render(info['facts']) }}

   {{ skills.render(info['skills']) }}

   {{ resume.render(info['resume']) }}

   {{ portfolio.render(info['portfolio']) }}

   {{ services.render(info['services']) }}

   {{ testimonials.render(info['testimonials']) }}

   {{ contact.render(info['contact']) }}

</main><!-- End #main -->

{% endmacro %}