{% macro render_progress(info) %}

<div class="progress">
  <span class="skill">{{info['name']}} <i class="val">{{info['value']}}%</i></span>
  <div class="progress-bar-wrap">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{info['value']}}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

{% endmacro %}

{% macro render(info) %}

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Skills</h2>
        <p>{{ info['introduction'] }}</p>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6" data-aos="fade-up">

          {{ render_progress({'name':'HTML', 'value':'100'}) }}

          {{ render_progress({'name':'CSS', 'value':'90'}) }}

          {{ render_progress({'name':'JavaScript', 'value':'75'}) }}

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

          {{ render_progress({'name':'PHP', 'value':'80'}) }}

          {{ render_progress({'name':'WordPress/CMS', 'value':'90'}) }}

          {{ render_progress({'name':'Photoshop', 'value':'55'}) }}

        </div>

      </div>

    </div>
  </section><!-- End Skills Section -->

  {% endmacro %}