{% macro render_progress(info) %}

<div class="progress">
  <span class="skill">{{info['name']}} <i class="val">{{info['value']}}%</i></span>
  <div class="progress-bar-wrap">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{info['value']}}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

{% endmacro %}

{% macro render(info) %}

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Skills</h2>
        <p>{{ info['introduction'] }}</p>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6" data-aos="fade-up">

        {% for item in info['items_column_left'] %}
          {{ render_progress(item) }}
        {% endfor %}

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

        {% for item in info['items_column_right'] %}
          {{ render_progress(item) }}
        {% endfor %}

        </div>

      </div>

    </div>
  </section><!-- End Skills Section -->

  {% endmacro %}